.donateWallPaperContainer{
    background-color: white;
    padding-left: 0 !important;
    padding-right: 0!important;
}
.donateWallPaperImage{
    width: 100%;
    height: 350px;
}
.donateWallPaperImageContainer{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (max-width: 450px) {
    .donateWallPaperImage{
        margin-bottom: -70px;
    }
}
@media (min-width: 800px) {
    .donateWallPaperContainer{
        background-color: white;
    }
    .donateWallPaperImage{
        height: 500px;
    }
}
