.donationInfoHeader{
    text-align: center;
    color: white;
}
.donationInfoHeader h3{
    font-weight: bold;
}
.donationInfoHeader hr {
    margin-top: 5px !important;
    background-color: #C4FFFF !important;
}
.donationInformationContainer{
    border: solid #FFF 2px;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: #000;
}
.donationInfoContainer{
    margin-top: 15px;
}
.donationInformationMetaContainer{
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 0!important;
    padding-right: 0!important;
}
.donationInformationContainer{
    background-color: rgba(196, 255, 255, 0.37);
    box-shadow: 5px 10px 10px 5px rgba(24,40,23,0.4) ;
}
.donationInformationContainer p{
    margin-top: 10px;
    margin-bottom: 5px;
}
.accountNumber p{
    margin-top: 0 !important;
    color: white;
    font-weight: bold;
}
.accountNameLabel p{
    margin-top: 2px !important;
}
.accountName p{
    color: white;
    margin-top: 0!important;
    font-weight: bold;
}
@media (min-width: 470px) {
    .donationInfoContainer{
        margin-top: 50px;
    }
    .accountNumber p{
        color: #212529;
    }
    .accountName p {
        color: #212529;
    }
    .donationInfoContainer{
        margin-bottom: 70px;
    }
}
