.donate_to_kongtsey_parent_container {
  background-image: url("./donate_to_kongtsey.png");

  background-repeat: no-repeat;
  background-position: center center;
}
.donate_to_kongtsey_conten_div {
  padding: 20px;
}
.donate_to_kongtsey_desc {
  background: #ffffffc4;
  padding: 20px 0;
  font-size: large;
  border-radius: 10px;
}

.donate_to_kongtsey_desc h3 {
  margin-bottom: 30px;
  text-align: center;
  color: #449497;
}

.donate_to_kongtsey_desc p {
  padding: 0px 20px;
  line-height: 30px;
}
.qr_code_donate {
  width: 100%;
  height: auto;
}
.account_number_info {
  background: #ffffffed;
  padding: 5px 10px;
  border-radius: 3px;
}
