.jumbotronContainer{
    margin-top: 20px;
}
.jumbotronContainer2nd{
    margin-top: 65px;
}
.jumbotronContainer3rd {
    margin-top: 65px;
    margin-bottom: 80px;
}
@media(max-width: 450px) {
    .jumbotronContainer{
        margin-top: 65px;
    }
}
