.donateContainer {
    background-color: #439497;
}

@media (min-width: 470px) {
    .donationBoxContainer {
        background-color: #499aa75c;
        box-shadow: 22px 22px 53px #3e838e, -22px -22px 53px #54b1c040;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
