* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-image: url("./images/front-page-design.png");
  background-size: cover;
  background-repeat: none;
  height: 80vh;
  width: auto;
}

/* 
  TODO: 
  NEED TO WORK ON THIS BETTER.SHOUDN'T BE MANUALLY SETTIGN THIS. 
  DOING THIS CURRENTLY SO THAT THE NAVEBAR SPANS THE ENITRE WIDTH. 
*/
.navbar {
  width: 102%;
  margin-left: -1%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
