.joinUsContainer {
}
.joinUsHeader {
  text-align: center;
}
.joinUsHeader h3 {
  margin-top: 100px;
  color: white;
  text-align: left;
}
.lookingFor h5 {
  color: #c9c9c9;
  text-align: left;
  margin-top: 20px;
}
.employeeBoxes {
  background-color: white;
  border-radius: 60px;
  width: 50%;
  height: 50px;
  box-shadow: 10px 5px 5px 2px rgba(135, 130, 130, 0.53);
  margin-left: 80px;
}
.employeeBoxes span img {
  height: 50px;
  width: auto;
  float: left;
}
.employeeBoxes span p {
  font-weight: 600;
  color: rgb(124, 124, 124);
  padding-top: 10px;
}
.employeeBoxesContainer {
  text-align: center;
  margin-top: 40px;
}
