.tab-buttons {
  margin-bottom: 50px;
}

button {
  margin-right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 50px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}
.active {
  border-bottom: 2px solid #ffc106;
  color: black;
}
