.tabs {
  text-align: center;
}
.tabs button {
  color: #9c9c9c;
}
.active {
  border-bottom: 2px solid #ffc10678;
  display: block !important;
}
.active button {
  color: black;
}
.math {
  display: none;
}
button {
  background: transparent;
  border: none;
}
.subject {
  display: none;
}
.subject-active {
  display: block;
}

/*SUBMIT BUTTON AT THE END OF THE SUBJECT TABS*/
.submit-exam {
  border-radius: 25px !important;
  font-size: 10px !important;
  margin-top: -5px !important;
  padding: 5px 20px !important;
}
