.footer_parent_div {
  background: rgb(0, 149, 152);
}
.project_motto {
  color: white;
  margin-top: 50px;
  text-align: left;
  /*margin-bottom: 40px;*/
}
.footer_contacts {
  color: white;
  margin-top: 50px;
  text-align: left;
  font-size: 1rem;
  line-height: 2;
  padding-left: 50px !important;
}
.quickNav {
  color: white;
  margin-top: 50px;
  font-size: 1rem;
  text-align: left;
  padding-left: 100px !important;
}
.quickNavText {
  margin-left: 50px;
  color: white !important;
}
.footerSocial {
  margin-left: 40px;
  font-size: 1rem;
}
.contactContent {
  margin-left: 40px;
}
.legal {
  text-align: left;
}

.footerTermsOfUse {
  color: rgb(163, 161, 161) !important;
  font-size: 0.75rem;
}
a:hover {
  transition: 0.5s;
  text-decoration: none !important;
  color: #dd8790 !important;
}
.socialMedia {
  margin-top: 30px;
  text-align: left;
}
.smIcons {
  font-size: 25px !important;
}
.smIcons:hover {
  transition: 0.5s !important;
  color: white !important;
}
.footerIcons {
  color: rgb(167, 161, 161);
  font-size: 20px;
}
.extraMessage {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .project_motto {
    color: white;
    margin-top: 0px;
    text-align: justify;
  }
  .footer_contacts {
    color: white;
    margin-top: 20px;
    text-align: left;
    font-size: 1rem;
    line-height: 2;
    padding-left: 0px !important;
  }
  .quickNav {
    display: none;
  }
  .footer-msg-breaker {
    margin-bottom: 20px;
  }
}
