@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Fredoka+One&family=Monoton&family=Ultra&family=Rubik+Mono+One&display=swaprel=stylesheet");

.homepage_parent_container {
  background: rgb(0, 148, 151);
  /*margin: 0;*/
  height: 100vh;
}

/* 
This is the parent div that contains the front-page image 
and the tag line with the button. Margin-top needs to set
because the navigator bar position is set to absolute, 
meaning it would intersect with the image if the margin 
is not set.
*/
.front_page_content {
  /*margin-top: 190px;*/
  /*margin-bottom: 100px;*/
  z-index: 99;
}
.frontPageHeader {
  margin-top: 70px;
}

/*
This is for the div containing the image  on the front-page.
it takes 6 cols on a desktop and 12 in mobile. 
*/
.front_page_image {
  padding-left: 0 !important;
  margin-top: 10px;
  text-align: right;
  /*z-index: 1;*/
}

/*
This is for the actual image tag. Changing the size of the 
image from here. 
*/
.front_page_image img {
  width: 100%;
  margin-bottom: -150px;
}

/*
This is the parent div for the tag line on the right of the image. 
*/
.tagline {
  padding-left: 0px !important;
}
.tagline_message {
  color: #1cfaff;
  font-size: 55px;
  font-weight: 500;
}
.exploreButton {
  background: transparent !important;
  border: 2px solid white !important;
  border-radius: 50px !important;
  display: block;
  margin-left: 0;
  line-height: 1.5;
  padding: 5px 15px !important;
  margin-top: 20px;
}
.exploreButton:hover {
  transition: 0.25s;
  border: 2px solid #d9707a !important;
}
.product_description {
  text-align: justify;
  color: rgb(214, 214, 214);
  margin-top: -10px;
  font-size: 18px;
  z-index: 99;
}

/*
------------------------------------
*/
.featureContainer {
  height: 285px;
  margin-left: 5px;
  background-color: rgba(1, 130, 127, 0.54) !important;
  padding-bottom: 60px;
}

.featureContainerParentDiv {
  margin-top: 100px;
}
.featureIcons {
  font-size: 50px;
  color: white;
  text-align: center;
}
.featureIconsContainer {
  margin-top: 20px;
  text-align: center;
}
.emailLink {
  color: white !important;
}
.emailLink:hover {
  color: white !important;
}
.featureTitle {
  font-size: 25px;
  color: white;
  margin-top: 10px;
  text-align: center;
}
.featureDescription {
  color: white;
  margin-top: -15px;
  margin-left: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .homepage_parent_container {
    background: rgb(0, 148, 151);
    margin: 0;
    height: 1800px;
  }
  .front_page_content {
    margin: 0 !important;
    z-index: 99;
  }
  .front_page_image {
    width: 100%;
    margin-bottom: -150px;
    margin-top: -50px;
    padding-left: 30px;
    z-index: 0;
  }
  .tagline_message {
    color: #1cfaff;
    font-size: 50px;
    font-weight: 500;
  }
  .featureContainer {
    height: 285px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(1, 130, 127, 0.54) !important;
    padding-bottom: 60px;
  }
  .featureContainerParentDiv {
    margin-top: 190px;
  }
}
