@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Fredoka+One&family=Monoton&family=Ultra&family=Rubik+Mono+One&display=swaprel=stylesheet");

.homepage_parent_container {
  border: solid #f9fbfd 1px;
  background: #f9fbfd;
  margin: 0;
}

/* 
This is the parent div that contains the front-page image 
and the tag line with the button. Margin-top needs to set
because the navigator bar position is set to absolute, 
meaning it would intersect with the image if the margin 
is not set.
*/
.front_page_content {
  margin-top: 190px;
  margin-bottom: 100px;
}

/*
This is for the div containing the image  on the front-page.
it takes 6 cols on a desktop and 12 in mobile. 
*/
.front_page_image {
  text-align: right;
}

/*
This is for the actual image tag. Changing the size of the 
image from here. 
*/
.front_page_image img {
  width: 80%;
}

/*
This is the parent div for the tag line on the right of the image. 
*/
.tagline {
  padding-left: 0px !important;
}
.product_description {
  text-align: justify;
  color: #253541bf;
  margin-top: -10px;
  font-size: 18px;
}

/*
This is the actual message of the tagline.
*/
.tagline_message {
  color: #2b354f;
  font-size: 35px;
  font-weight: 500;
}
.featureIcons {
  font-size: 50px;
  color: #0069d9;
}
.featureTitle {
  font-size: 25px;
  color: black;
  margin-top: 10px;
}
.featureDescription {
  color: #253541bf;
  margin-top: -15px;
}
