* {
  margin: 0;
  padding: 0;
}
/*
  This is only for the navigation bar. The position is set as aboslute 
  so that it sits on top of the background of the front-page content.
*/
.navbar-parent-container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 10px;
}
/*
This is the actual text of the navbar.
*/
.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 0 20px;
  font-size: large;
}
.form-input {
  padding: 0 !important;
}
.error-msg {
  color: #ec2121;
}
.button{
  background: #007bff;
  border: 1px solid #007bff;
  margin-left: 20px;
  display: block;
  /*font-weight: 400;*/
  /*color: #212529;*/
  /*!*text-align: center;*!*/
  /*!*vertical-align: middle;*!*/
  /*!*-webkit-user-select: none;*!*/
  /*user-select: none;*/
  /*padding: .35rem .7rem;*/
  /*font-size: large;*/
  line-height: 1.5;
  /*margin-left: 0.5rem;*/
  border-radius: .25rem;
  /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}
.buttonText{
  display: block;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.navLinkGhi{
  margin-top: 0.4rem;
}
.haveAnAcc{
}