/*THIS IS WHEN THE MARK BUTTON IS ->NOT<- CLICKED */
.markButton {
  background: #e7e7e7;
  color: #555555;
  border: 1px solid #d9d7d7;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 10px;
  transition: 300ms all linear;
}
/*THIS IS WHEN THE MARK BUTTON IS  ->CLICKED<- */
.markedButton {
  background: #5cb85c;
  color: white;
  border: 1px solid white;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 10px;
  transition: 300ms all linear;
}

button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0;
}
