.pieChart {
  border: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  margin-left: 3rem;
  padding: 10px;
}
.divParent {
  margin-top: 3rem;
}
.selections {
  background-color: #f7f8db;
}

/* Selection Queries*/
.queryTopic {
  margin-top: 2rem;
  text-align: center;
}
.radioLabel {
  /*margin-left: 1rem;*/
  color: black !important;
}
.radio {
  text-align: left;
  padding-left: 2rem;
  padding-top: 0.5rem;
}
.radio input[type="radio"] {
  width: 15px;
  height: 15px;
}
.radio .form-check-label {
  margin-left: 20px !important;
}
.radio .form-check {
  margin-top: 1rem;
}
.strengthWeak {
  margin-top: 1rem;
  text-align: left;
  margin-bottom: 1rem;
}
.swDescrip {
  text-align: left;
  font-size: 18px;
  margin-left: 3.25rem;
}

@media only screen and (max-width: 600px) {
  .pieChart {
    padding: 10px;
    margin-left: 0rem;
  }
}
