.markButton {
  background: #e7e7e7;
  color: #555555;
  border: 1px solid #d9d7d7;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 10px;
}
.markedButton {
  background: #5cb85c;
  color: white;
  border: 1px solid white;
  padding: 2px 10px;
  border-radius: 15px;
  font-size: 10px;
}
