.sign-up-exam-subject-result-parent-box {
  padding: 20px;
}
.sign-up-exam-subject-result {
  padding: 10px;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}
