.reasonsToStartContainer {
  /* background-color: rgb(209, 209, 209); */
  background-image: url("../../images/homePage/mountain.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reasonsToStartHeader {
  text-align: center;
  color: rgb(79, 81, 83);
  word-spacing: 10px;
  letter-spacing: 3px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.threeReasons {
  text-align: center;
  margin-bottom: 45px;
}
.reason-image {
  width: 60%;
}
.reason-slogan {
  position: absolute;
  left: 20%;
  top: 20%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .reasonsToStartContainer {
    /* background-color: rgb(209, 209, 209); */
    background-image: url("../../images/homePage/mountain.jpg");
    background-attachment: scroll;
  }
  .reason-slogan {
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0px 10px -10px 10px;
    padding: 20px;
  }
  .threeReasons {
    padding: 50px;
    background: #ffffff4f;
  }
}
